@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BDD + TDD </h1>
    <p class="lead">Demo aplicando conceitos de BDD com SpecFlow e TDD com NUnit</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Acessar a demo</h2>
        <p>
            A Demo possui como proposito realizar o calculo de IOF de um titulo.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("CalcularTitulo","Titulo")">começar</a></p>
    </div>
    <div class="col-md-4">
        <h2>Iniciando BDD</h2>
        <p>
            <a class="btn btn-default" href="http://www.specflow.org/getting-started/">aqui</a> você vai aprender
            como dar os primeiros passos utlizando o SpecFlow como ferramenta para aplicação do BDD<br />
            <a href="http://blog.lambda3.com.br/2011/05/bdd-com-net-parte-1/">Exemplo</a>
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Iniciando com TDD</h2>
        <p>
            com estas referências você descobrirá como dar os primeiros passos aplicando este conceito
            <ul>
                <li><a href="https://gustavofontes.net/2014/10/01/tdd/">Slides sobre TDD</a></li>
                <li><a href="https://visualstudiomagazine.com/articles/2013/07/29/test-driven-development-with-visual-studio-2012.aspx">Step-By-Step TDD with Visual Studio </a></li>
                <li><a href="http://www.princiweb.com.br/blog/programacao/tdd/aprendendo-tdd-na-pratica-com-fizzbuzz.html">exemplo fizzbuzz</a></li>
                <li><a href="http://podcast.dotnetarchitects.net/2010/07/podcast-14-test-driven-development/">Podcast sobre TDD</a></li>
            </ul>
        </p>
    </div>
</div>