@model Demo.Web.Models.IOFCalculadoSpecifModel

@{
    ViewBag.Title = "ValorDoIOF";
}

<div class="alert-success">
    <h3>Valor do IOF Calculado:</h3>
    <h2>@Html.DisplayFor(_ => Model.valor)</h2>
</div>

