<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.UnitTestFramework.Extensions" version="1.0.0.3" targetFramework="net46" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net46" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net46" />
  <package id="SpecRun.Runner" version="1.5.2" targetFramework="net46" />
  <package id="WatiN" version="2.1.0" targetFramework="net46" />
</packages>